<% content_for :title, t("presentations.title") %>
<h1 class="<%= ui_class(:title) %>"><%= icon("presentations") %> <%= t("presentations.title") %></h1>

<% if @presentations.empty? %>
  <div class="<%= ui_class(:alert, :notice) %>"><%= t("presentations.empty") %></div>
<% else %>
  <table class="<%= ui_class(:table) %>" data-controller="datatable">
    <thead>
      <tr>
        <th><%= t("presentations.name") %></th>
        <th><%= t("presentations.description") %></th>
        <th><%= t("presentations.slides") %></th>
        <th class="no-sort"><%= t("shared.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @presentations.each do |presentation| %>
        <tr>
          <td><%= link_to presentation.title, presentation_path(presentation) %></td>
          <td><%= presentation.description %></td>
          <td><%= presentation.slides.size %></td>
          <td class="no-sort">
            <%= link_to t("presentations.watch"), presentation_path(presentation), class: ui_class(:button, :primary, :small) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
