<% content_for :title, @document.display_title %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <%= link_to "→ #{t('document_view.back_to_library')}", library_path, class: ui_class(:button, :link, :small) %>
  <div class="actions">
    <% if @document.original.attached? %>
      <%= link_to t("document_view.download_original"), rails_blob_path(@document.original, disposition: "attachment"),
            class: ui_class(:button, :secondary, :small) %>
    <% end %>
    <% if @document.favorited_by?(current_user) %>
      <%= button_to "♥ #{t('document_view.unfavorite')}", document_favorite_path(@document),
            method: :delete, class: ui_class(:button, :secondary, :small) %>
    <% else %>
      <%= button_to "♡ #{t('document_view.favorite')}", document_favorite_path(@document),
            method: :post, class: ui_class(:button, :primary, :small) %>
    <% end %>
  </div>
</div>

<% if @document.project %>
  <p class="<%= ui_class(:subtitle) %>"><%= t("document_view.project_label") %>: <%= @document.project.name %></p>
<% end %>

<% if @document.tag_list.any? %>
  <p><%= t("document_view.tags") %>:
    <% @document.tag_list.each do |tag| %>
      <%= link_to tag, library_path(tag: tag), class: ui_class(:badge, :info) %>
    <% end %>
  </p>
<% end %>

<%= render "documents/branded", document: @document %>
