<% content_for :title, t("courses.title") %>
<h1 class="<%= ui_class(:title) %>"><%= icon("courses") %> <%= t("courses.title") %></h1>

<% if @courses.empty? %>
  <div class="<%= ui_class(:alert, :notice) %>"><%= t("courses.empty") %></div>
<% else %>
  <table class="<%= ui_class(:table) %>" data-controller="datatable">
    <thead>
      <tr>
        <th><%= t("courses.name") %></th>
        <th><%= t("courses.description") %></th>
        <th><%= t("courses.episodes") %></th>
        <th class="no-sort"><%= t("shared.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td>
            <% if course.image.attached? %>
              <%= image_tag course.image, class: "course-thumb", style: "height:32px;width:auto;vertical-align:middle;margin-inline-end:.5rem" %>
            <% end %>
            <%= link_to course.name, course_path(course) %>
          </td>
          <td><%= truncate(course.details.to_s, length: 120) %></td>
          <td><%= course.episodes.size %></td>
          <td class="no-sort">
            <%= link_to t("courses.open"), course_path(course), class: ui_class(:button, :primary, :small) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
