<nav class="navbar is-primary" role="navigation" data-controller="navbar">
  <div class="navbar-brand">
    <%= link_to t("app_name"), root_path, class: "navbar-item has-text-weight-bold" %>
    <a role="button" class="navbar-burger" data-action="navbar#toggle" data-navbar-target="burger" aria-label="menu">
      <span aria-hidden="true"></span><span aria-hidden="true"></span>
      <span aria-hidden="true"></span><span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <% if authenticated? %>
        <%= link_to t("nav.courses"), root_path, class: "navbar-item" %>
        <%= link_to t("nav.library"), library_path, class: "navbar-item" %>
        <% if current_user&.admin? %>
          <%= link_to t("nav.admin"), admin_root_path, class: "navbar-item" %>
          <%= link_to t("nav.projects"), admin_projects_path, class: "navbar-item" %>
        <% end %>
      <% end %>
    </div>
    <div class="navbar-end">
      <% if authenticated? %>
        <span class="navbar-item"><%= current_user&.display_name %></span>
        <div class="navbar-item">
          <%= button_to t("nav.sign_out"), session_path, method: :delete, class: "button is-light is-small" %>
        </div>
      <% else %>
        <%= link_to t("nav.sign_in"), new_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
