<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <%= link_to t("app_name"), root_path, class: "navbar-brand fw-bold" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnav">
      <ul class="navbar-nav me-auto">
        <% if authenticated? %>
          <li class="nav-item"><%= link_to t("nav.courses"), root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t("nav.library"), library_path, class: "nav-link" %></li>
          <% if current_user&.admin? %>
            <li class="nav-item"><%= link_to t("nav.admin"), admin_root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to t("nav.projects"), admin_projects_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to t("nav.presentations"), admin_presentations_path, class: "nav-link" %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if authenticated? %>
          <li class="nav-item d-flex align-items-center text-white-50 ms-lg-3 me-2"><%= current_user&.display_name %></li>
          <li class="nav-item"><%= button_to t("nav.sign_out"), session_path, method: :delete, class: "btn btn-outline-light btn-sm" %></li>
        <% else %>
          <li class="nav-item"><%= link_to t("nav.sign_in"), new_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
