<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
    <%= render "layouts/head" %>
    <%= stylesheet_link_tag "bulma.min", "data-turbo-track": "reload" %>
    <meta name="css-framework" content="bulma">
  </head>

  <body>
    <div class="app-shell" data-controller="sidebar">
      <%= render "layouts/sidebar" %>
      <div class="app-main">
        <%= render "layouts/topbar" %>
        <main class="app-content">
          <%= render "layouts/flash" %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
